.social-networks-card {
  background-color: white;
  height: fit-content;
  .ssnn-content {
    display: grid;
    grid-template-columns: auto;
    .ssnn-title-row {
      padding: 2%;
      display: grid;
      grid-template-columns: auto 10%;
      align-items: center;
      .ssnn-title {
        display: grid;
        grid-template-columns: 8px auto;
        column-gap: 4px;
        align-items: center;
        .icon-title {
          height: 60%;
          width: 80%;
          background-color: #16697a;
        }
        .socials-title {
          font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif,
            sans-serif;
          color: #16697a;
          font-weight: 600;
        }
      }
    }
    .socials-items {
      display: grid;
      grid-template-columns: 2rem auto;
      padding: 1rem;
      font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      font-weight: 450;
      .social-url {
        color: black !important;
        text-decoration: none !important;
      }
    }
    .socials-items:hover {
      background-color: #f0f0f0;
    }
    .add-item-container {
      padding: 2%;
      .btn-add-item {
        background-color: #ffa62b;
        width: 100%;
      }
      .btn-add-item:hover {
        background-color: #ee9c28;
        color: white;
      }
    }
  }
}
.btn-edit {
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-edit:hover {
  background-color: #f0f0f0;
}
.btn-save {
  display: flex;
  justify-content: center;
  align-items: center;
  color: green;
}
.btn-save:hover {
  background-color: rgba(0, 128, 0, 0.068);
}

.new-item-container {
  padding: 1rem;
  display: grid;
  grid-template-columns: auto 5%;
  column-gap: 2%;
  width: 100%;
  align-items: center;

  input {
    background-color: #f5f5f5;
    font-size: smaller;
    padding: 0.2rem 0.2rem 0.2rem 0.7rem;
  }

  .new-name::placeholder {
    padding-left: 1rem;
  }

  .new-url::placeholder {
    padding-left: 1rem;
  }

  .save-item-btn {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .save-item-btn:hover {
    background-color: rgba(0, 128, 0, 0.068);
  }
  .btn-delete-item {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #ede7e3; */
    height: 70%;
    width: 100%;
    font-size: small;
  }

  .btn-delete-item:hover {
    background-color: #f84711;
    color: white;
  }
}

.no-socials-available {
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  p {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
  }
}
