.main-container {
  height: 100vh;
  background-color: hsl(0, 0%, 87%);
}

.profile-container {
  /* background-color: red; */
  height: 100vh;
  display: flex;
  justify-content: center;
}

.banner {
  margin: 1rem 0 1rem 0;
  padding: 1rem;
  background-color: white;
  height: fit-content;
  width: 100%;
  display: grid;
  grid-template-rows: auto auto;
}

.picture-and-details {
  margin: 1rem;
  display: grid;
  grid-template-columns: 15% auto;
}

.picture {
  background-color: #e5e5e5;
  height: 8rem;
  width: 8rem;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
}
