<!-- <p>Author ID es:{{id}}</p> -->
<div class="main-container" *ngIf="data$ | async as response">
  <div class="container">
    <div class="profile-container">
      <div class="banner-container shadow rounded">
        <h3 class="banner-title m-0">
          <div class="icon-title rounded"></div>
          <span style="color: #16697a"> AUTHOR </span>
        </h3>
        <div class="picture-and-details">
          <div class="picture-and-name shadow rounded">
            <div class="picture">
              <img src="{{ response.picture }}" />
            </div>
            <div class="name-affiliation-and-interests">
              <h4 class="m-0 text-uppercase">{{ response.name }}</h4>
              <span class="text-muted fw-bolder">{{
                response.affiliations
              }}</span>
            </div>
          </div>
          <div
            class="interests shadow rounded"
            *ngIf="response.interests.length > 0"
          >
          <div class="interests-title">
            <span class="fw-bold span-interests-title">Interests</span>
          </div>
          <div class="list-of-interests">
            <ng-container *ngFor="let int of response.interests">
              <span
                role="button"
                class="span-interest rounded"
                (click)="searchInterest(int.keyword)"
                >{{ int.title | titlecase }}</span
              >
            </ng-container>
          </div>
          </div>
          <div class="articles shadow rounded">
            <span class="fw-bold span-articles">Total Articles</span>
            <span class="fw-bolder span-articles-num">{{
              response.articles.totalNumberArticles
            }}</span>
          </div>
          <div class="citations shadow rounded">
            <span class="fw-bold span-citations">Avg. Citations</span>
            <span class="fw-bolder span-citations-num">{{
              response.citedBy.average
            }}</span>
          </div>
        </div>
      </div>

      <div class="tabs-container shadow rounded">
        <h3 class="tabs-title m-0">
          <div class="icon-title rounded"></div>
          <span style="color: #16697a"> DETAILS </span>
        </h3>
        <nav class="p-3">
          <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <button
              class="nav-link active"
              id="nav-data-tab"
              data-bs-toggle="tab"
              data-bs-target="#nav-data"
              type="button"
              role="tab"
              aria-controls="nav-data"
              aria-selected="true"
            >
              Data
            </button>
            <button
              class="nav-link"
              id="nav-articles-tab"
              data-bs-toggle="tab"
              data-bs-target="#nav-articles"
              type="button"
              role="tab"
              aria-controls="nav-articles"
              aria-selected="false"
            >
              Articles
            </button>
          </div>
        </nav>
        <div class="tab-content p-3" id="nav-tabContent">
          <div
            class="tab-pane fade show active"
            id="nav-data"
            role="tabpanel"
            aria-labelledby="nav-data-tab"
          >
            <line-chart></line-chart>
          </div>
          <div
            class="tab-pane fade"
            id="nav-articles"
            role="tabpanel"
            aria-labelledby="nav-articles-tab"
          >
            <!-- <data-table [data]="response.articles.data" [title]="''"></data-table> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
