<div class="main-container default-theme">
  <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #16697a">
    <div class="container">
      <div class="navbar-items-container">
        <div class="navbar-custom-items">
          <a class="navbar-brand" routerLink="/home">WeCollaborate</a>
        </div>
        <div class="navbar-custom-items">
          <a class="nav-link text-decoration-none" routerLink="/home">Home</a>
        </div>
        <form class="navbar-custom-items" [formGroup]="form" (ngSubmit)="onSubmit()">
          <div class="input-group custom-search">
            <input type="text" class="form-control" placeholder="Search {{ getSearchLabel() }}..."
              formControlName="key" />
            <button type="submit" class="btn btn-search border-end">
              Search
            </button>
            <button type="button" class="btn btn-search dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown"
              aria-expanded="false">
              <span class="visually-hidden">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu dropdown-menu-end">
              <ng-container *ngFor="let type of searchTypes">
                <li>
                  <a class="dropdown-item" (click)="changeSearchType(type.type)">{{
                    type.label| titlecase
                    }}</a>
                </li>
              </ng-container>
            </ul>
          </div>
        </form>
        <div class="navbar-custom-items">
          <div class="dropdown">
            <a class="btn btn-profile dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
              aria-expanded="false">
              {{ user }}
            </a>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <li>
                <a class="dropdown-item" routerLink="/profile">Ver perfil</a>
              </li>
              <li>
                <hr class="dropdown-divider" />
              </li>
              <li>
                <a class="dropdown-item" role="button">Ajustes y privacidad</a>
              </li>
              <li><a class="dropdown-item" role="button">Ayuda</a></li>
              <li>
                <hr class="dropdown-divider" />
              </li>
              <li>
                <a class="dropdown-item" role="button" (click)="logOut()">Cerrar sesión</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </nav>
</div>