.default-theme {
  nav {
    background-color: #16697a !important;
  }
  a {
    color: white;
  }

  .btn-search:hover {
    background-color: #ff9500;
  }

  .btn-search {
    --bs-btn-color: #fff;
    --bs-btn-bg: #ffa62b;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #ffa62b;
    --bs-btn-hover-border-color: #ffa62b;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #ffa62b;
    --bs-btn-active-border-color: #ffa62b;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #fcb34c;
    --bs-btn-disabled-border-color: #ffa62b;
  }
  
  .dropdown-menu {
    a {
        color: #16697A;
    }
  }
}
