<section class="vh-100" style="background-color:hsl(0, 0%, 87%);">
    <div class="container d-flex justify-content-center align-items-center py-5">
        <div class="card shadow p-3 mb-5 rounded" style="width: 50rem; border-radius: 1rem;">
            <div class="card-body">
                <h1 class="mb-5 text-uppercase text-center">{{Titulo}}</h1> <!-- Titulo de la vista -->
                <div class="row">
                    <div class="col-3"></div>
                    <div class="col-6">
                        <form (ngSubmit)="onSubmit()" [formGroup]="form">
                            <div class="mb-3">
                                <h5>
                                    <label for="email" class="form-label text-primary">Correo</label>
                                </h5>
                                <input type="email" class="form-control" id="email" aria-describedby="ayudaEmail"
                                    placeholder="ejemplo@email.com" formControlName="email">
                                <div class="form-text">Tus datos no serán compartidos.</div>
                                <div id="ayudaCorreo" class="form-text text-danger my-2"
                                    *ngIf="form.controls?.['email']?.errors?.['email'] && form.controls?.['email']?.touched">
                                    Formato de
                                    correo no válido
                                </div>
                            </div>
                            <div class="mb-3">
                                <h5>
                                    <label for="password" class="form-label text-primary">Contraseña</label>
                                </h5>
                                <input type="password" class="form-control" id="password"
                                    placeholder="Introducir contraseña..." aria-describedby="ayudaPass"
                                    formControlName="password">
                                <div id="ayudaPass" class="form-text">La contraseña debe tener al menos 8 caracteres
                                </div>
                            </div>
                            <div class="row mt-5">
                                <div class="col-4">
                                    <button type="submit" class="btn btn-primary"
                                        [disabled]="form.invalid">Siguiente</button>
                                </div>
                                <div class="col d-flex flex-row-reverse text-center">
                                    <p>¿No tienes cuenta? Registrate <a id="signupLink" routerLink="/signup">aquí</a>
                                    </p>
                                </div>
                            </div>
                            <div class="row mt-5">
                            </div>
                        </form>
                    </div>
                    <div class="col-3"></div>
                </div>
            </div>
        </div>
    </div>
</section>