a {
  color: black;
  text-decoration: none;
  font-weight: 500;
}

.author {
  display: grid;
  grid-template-columns: 4rem auto;
  column-gap: 1rem;
  align-items: center;
  .profile-picture {
    overflow: hidden;
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.author:hover {
  color: #ffa62b !important;
  font-weight: 500;
}

.interests-container {
  display: grid;
  grid-template-columns: 50% 50%;
  column-gap: 2%;
  row-gap: 20%;
  align-items: center;
  justify-content: left;
  .item {
    border-radius: 50rem;
    background-color: #489fb5;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-decoration: none;
    color: white;
  }
  .item:hover {
    background-color: #16697a;
  }
}

.table-header {
  --bs-table-color: #fff;
  --bs-table-bg: #16697a;
  --bs-table-border-color: #4d5154;
}

.loading-block {
  display: table-row;
  height: 20rem;
}
