<ng-scrollbar [autoHeightDisabled]="false">
  <div class="table-responsive">
    <table class="table table-hover align-middle mb-0" *ngIf="configuration.columns.length; else error">
      <thead class="table-header">
        <tr>
          <ng-container *ngFor="let cols of configuration.columns">
            <th [attr.style]="
                'width:' + cols?.width + '; text-align:' + cols.align
              ">
              {{ cols.title }}
            </th>
          </ng-container>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let rowData of data">
          <tr>
            <ng-container *ngFor="let col of configuration.columns; let i = index">
              <td [attr.style]="'text-align:' + col.align" *ngIf="configuration.columns[i].name == 'author'">
                <div class="author" role="button" (click)="goToAuthor(rowData.authorId)">
                  <div class="profile-picture">
                    <img src="{{ rowData.picture }}" />
                  </div>
                  <a>{{ rowData.name }}</a>
                </div>
              </td>
              <td [attr.style]="'text-align:' + col.align" *ngIf="configuration.columns[i].name == 'openToCollab'">
                <i class="bi bi-check-circle-fill green-check" *ngIf="rowData.openToCollab"></i>
                <i class="bi bi-x-circle-fill red-check" style="color: red !important;"
                  *ngIf="!rowData.openToCollab"></i>
              </td>
              <td [attr.style]="'text-align:' + col.align" *ngIf="configuration.columns[i].name == 'affiliation'">
                <span>{{ rowData.affiliation }}</span>
              </td>
              <td [attr.style]="'text-align:' + col.align" *ngIf="configuration.columns[i].name == 'interests'">
                <!-- <span>{{ getInterests(rowData.interests) }}</span> -->
                <div class="interests-container">
                  <ng-container *ngFor="let int of rowData.interests">
                    <a role="button" class="badge item" (click)="searchInterests(int.keyword)">{{ int.title }}</a>
                  </ng-container>
                </div>
              </td>
              <td [attr.style]="'text-align:' + col.align" *ngIf="configuration.columns[i].name == 'title'">
                <a (click)="goToLink(rowData.link)">{{ rowData.title }}</a>
              </td>
              <td [attr.style]="'text-align:' + col.align" *ngIf="configuration.columns[i].name == 'writtenBy'">
                <span>{{ rowData.authors }}</span>
              </td>
              <td [attr.style]="'text-align:' + col.align" *ngIf="configuration.columns[i].name == 'citedBy'">
                <span>{{ rowData.citedBy }}</span>
              </td>
              <td [attr.style]="'text-align:' + col.align" *ngIf="configuration.columns[i].name == 'year'">
                <span>{{ rowData.year }}</span>
              </td>
            </ng-container>
          </tr>
        </ng-container>
        <ng-template #loading> </ng-template>
      </tbody>
      <ng-template #loading>
        <div class="loading-block">
          <div class="spinner-border loading" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
        </div>
      </ng-template>
    </table>
  </div>
</ng-scrollbar>
<ng-template #error>
  <h3 class="py-3">No hay artículos disponibles</h3>
</ng-template>