<div class="main-container">
  <div class="container">
    <ng-container *ngIf="data$ | async as res; else error">
      <form class="columns-container" [formGroup]="form">
        <div class="profile-and-rrss">
          <div class="profile-card rounded shadow">
            <div class="profile-content text-center">
              <div class="profile-picture">
                <img
                  src="{{
                    form.get('picture')?.value != null
                      ? form.get('picture')?.value
                      : '/assets/def-profile.png'
                  }}"
                />
              </div>
              <h5 class="my-3 name">
                {{ form.get("fullName")?.value != "" ? form.get("fullName")?.value : "Type full name here" }}
              </h5>
              <p class="text-muted my-3">
                {{ form.get("affiliation")?.value != "" ?  form.get("affiliation")?.value : "Type affiliation here"}}
              </p>
              <div class="d-flex justify-content-center mb-2">
                <button type="button" class="btn btn-outline-primary">
                  Edit
                </button>
              </div>
            </div>
          </div>
          <div class="social-networks-card rounded shadow">
            <div class="ssnn-content">
              <div class="edit-btn-row">
                <ng-container *ngIf="!editingSocials; else editingSocialsData">
                  <button
                    type="button"
                    class="btn btn-edit"
                    (click)="editSocials()"
                  >
                    <i class="bi bi-pencil-square"></i>
                  </button>
                </ng-container>
                <ng-template #editingSocialsData>
                  <button
                    type="button"
                    class="btn btn-save"
                    (click)="saveSocials()"
                  >
                    <i class="bi bi-check-square"></i>
                  </button>
                </ng-template>
              </div>
              <hr class="divider m-0" />
              <ng-container
                *ngFor="let item of res.ssnn as socials; let i = index"
              >
                <a
                  role="button"
                  class="socials-items"
                  (click)="goToLink(item.url)"
                  >{{ item.name }}</a
                >
                <hr *ngIf="i != socials.length - 1" class="divider m-0" />
              </ng-container>
            </div>
          </div>
        </div>
        <div class="profile-data">
          <div class="personal-data-card rounded shadow">
            <div class="edit-btn-row">
              <ng-container *ngIf="!editingData; else editingProfileData">
                <button type="button" class="btn btn-edit" (click)="editData()">
                  <i class="bi bi-pencil-square"></i>
                </button>
              </ng-container>
              <ng-template #editingProfileData>
                <button type="button" class="btn btn-save" (click)="saveData()">
                  <i class="bi bi-check-square"></i>
                </button>
              </ng-template>
            </div>

            <hr class="divider m-0" />

            <div class="profile-data-container">
              <div class="row-data">
                <p>Full Name</p>
                <input
                  type="text"
                  placeholder="e.g., Name & Surname"
                  formControlName="fullName"
                />
              </div>
              <hr class="divider m-0" />
              <div class="row-data">
                <p>Email</p>
                <input
                  type="text"
                  placeholder="e.g., example@example.com"
                  formControlName="email"
                />
              </div>
              <hr class="divider m-0" />
              <div class="row-data">
                <p>Phone number</p>
                <input
                  type="text"
                  placeholder="e.g., (+34) 612345678"
                  formControlName="phone"
                />
              </div>
              <hr class="divider m-0" />
              <div class="row-data">
                <p>Affiliation</p>
                <input
                  type="text"
                  placeholder="e.g., Developer, Madrid"
                  formControlName="affiliation"
                />
              </div>
            </div>
          </div>
        </div>
      </form>
    </ng-container>
    <ng-template #error>
      <h1
        class="text-danger p-5 d-flex justify-content-center align-items-center"
      >
        There was an error! Please try again later.
      </h1>
    </ng-template>
  </div>
</div>
