<div class="main-container" [formGroup]="form">
  <div class="container">
    <ng-container *ngIf="data$ | async as res; else error">
      <form class="columns-container">
        <div class="profile-and-rrss">
          <div class="profile-card rounded shadow">
            <div class="profile-content text-center">
              <div class="profile-picture">
                <img
                  src="{{
                    form.get('picture')?.value != ''
                      ? form.get('picture')?.value
                      : '/assets/def-profile.png'
                  }}"
                />
              </div>
              <h5 class="my-3 name">
                {{
                  form.get("fullName")?.value != ""
                    ? form.get("fullName")?.value
                    : "Type full name here"
                }}
              </h5>
              <p class="text-muted my-3">
                {{
                  form.get("affiliation")?.value != ""
                    ? form.get("affiliation")?.value
                    : "Type affiliation here"
                }}
              </p>
              <div class="d-flex justify-content-center mb-2">
                <button type="button" class="btn btn-outline-primary">
                  Edit
                </button>
              </div>
            </div>
          </div>
          <socials-table formGroupName="socials"></socials-table>
        </div>

        <div class="profile-data">
          <div class="personal-data-card rounded shadow">
            <div class="profile-title-row">
              <h3 class="profile-title m-0">
                <div class="icon-title rounded"></div>
                <span style="color: #16697a"> MY PROFILE </span>
              </h3>
              <div class="edit-btn-row">
                <ng-container *ngIf="!editingData; else editingProfileData">
                  <button
                    type="button"
                    class="btn btn-edit"
                    (click)="editData()"
                  >
                    <i class="bi bi-pencil-square"></i>
                  </button>
                </ng-container>
                <ng-template #editingProfileData>
                  <button
                    type="button"
                    class="btn btn-save"
                    (click)="saveData()"
                  >
                    <i class="bi bi-check-square"></i>
                  </button>
                </ng-template>
              </div>
            </div>

            <hr class="divider m-0" />

            <div class="profile-data-container">
              <div class="row-data">
                <p>Full Name</p>
                <input
                  type="text"
                  placeholder="e.g., Name & Surname"
                  formControlName="fullName"
                />
              </div>
              <hr class="divider m-0" />
              <div class="row-data">
                <p>Email</p>
                <input
                  type="text"
                  placeholder="e.g., example@example.com"
                  formControlName="email"
                />
              </div>
              <hr class="divider m-0" />
              <div class="row-data">
                <p>Phone number</p>
                <input
                  type="text"
                  placeholder="e.g., (+34) 612345678"
                  formControlName="phone"
                />
              </div>
              <hr class="divider m-0" />
              <div class="row-data">
                <p>Affiliation</p>
                <input
                  type="text"
                  placeholder="e.g., Developer, Madrid"
                  formControlName="affiliation"
                />
              </div>
            </div>
          </div>

          <div class="table-data-card rounded shadow">
            <data-table
              *ngIf="dataTableConfiguration?.data"
              [configuration]="dataTableConfiguration"
            ></data-table>
          </div>
        </div>
      </form>
    </ng-container>

    <ng-template #error>
      <h1
        class="text-danger p-5 d-flex justify-content-center align-items-center"
      >
        There was an error! Please try again later.
      </h1>
    </ng-template>
  </div>
</div>
