<div class="main-container">
  <div class="container">
    <div class="columns-container">
      <div class="profile-and-rrss">
        <div class="profile-card rounded shadow">
          <div class="profile-content text-center">
            <img src="/assets/def-profile.png" />
            <h5 class="my-3">Alex</h5>
            <p class="text-muted mb-1">Programador</p>
            <p class="text-muted mb-4">Madrid, España</p>
            <div class="d-flex justify-content-center mb-2">
              <button type="button" class="btn btn-outline-primary">
                Editar perfil
              </button>
            </div>
          </div>
        </div>
        <div class="social-networks-card rounded shadow">
          <div class="ssnn-content">
            <div class="edit-btn">
              <button type="button" class="btn" (click)="editarRS()">
                <i class="bi bi-pencil-square"></i>
              </button>
            </div>
            <hr class="divider m-0" />
            <ng-container *ngFor="let item of socials; let i = index">
              <a role="button" class="socials-items">{{ item }}</a>
              <hr *ngIf="i != socials.length - 1" class="divider m-0" />
            </ng-container>
          </div>
        </div>
      </div>
      <div class="profile-data">
        <div class="personal-data-card rounded shadow">
          <div class="edit-btn">
            <button type="button" class="btn" (click)="editarRS()">
              <i class="bi bi-pencil-square"></i>
            </button>
          </div>
          <hr class="divider m-0" />
        </div>
      </div>
    </div>
  </div>
</div>
