<section class="vh-100" style="background-color:hsl(0, 0%, 87%);">
    <div class="container d-flex justify-content-center align-items-center py-5">
        <div class="card shadow p-3 mb-5 rounded" style="width: 50rem; border-radius: 1rem;">
            <h1 class="text-uppercase text-center  mb-5"> {{Titulo}}</h1>
            <div class="row">
                <div class="col-3"></div>
                <div class="col-6">
                    <form (ngSubmit)="onSubmit()" [formGroup]="form">
                        <div class="mb-3">
                            <h5>
                                <label for="Nombre" class="form-label text-primary">Nombre</label>
                            </h5>
                            <input type="text" class="form-control" id="Nombre" aria-describedby="ayudaNombre"
                                placeholder="Nombre y Apellido" formControlName="user">
                            <div id="ayudaNombre" class="form-text mb-3">Introduce al menos un nombre y un apellido.
                            </div>
                        </div>
                        <div class="mb-3">
                            <h5>
                                <label for="correo" class="form-label text-primary">Correo</label>
                            </h5>
                            <input type="email" class="form-control" id="correo" aria-describedby="ayudaCorreo"
                                placeholder="ejemplo@email.com" formControlName="mail">
                            <div id="ayudaCorreo" class="form-text mb-3">Tus datos no serán compartidos.</div>
                        </div>
                        <div class="mb-3">
                            <h5>
                                <label for="pass" class="form-label text-primary">Contraseña</label>
                            </h5>
                            <input type="password" class="form-control" id="pass" aria-describedby="ayudaPass"
                                placeholder="Introducir contraseña..." formControlName="pass">
                            <div id="ayudaPass" class="form-text text-danger mb-3" *ngIf="validPass == false">La
                                contraseña debe tener al menos 8
                                caracteres.
                            </div>
                        </div>
                        <div class="mb-4">
                            <h5>
                                <label for="repPass" class="form-label text-primary">Repetir contraseña</label>
                            </h5>
                            <input type="password" class="form-control" id="repPass" aria-describedby="ayudarRepPass"
                                placeholder="Repetir contraseña..." formControlName="repPass">
                            <div id="ayudarRepPass" class="form-text text-danger mb-3" *ngIf="samePass == false">La
                                contraseña
                                debe
                                coincidir con la
                                anteriormente introducida.</div>
                        </div>
                        <div class="mb-3 form-check">
                            <input type="checkbox" class="form-check-input" id="agree" formControlName="agree">
                            <label class="form-check-label mb-3" for="agree">
                                Al hacer click, aceptas los <a routerLink="/usuarioTerminosCondiciones">términos y
                                    condiciones</a>
                            </label>
                        </div>
                        <div class="d-flex justify-content-center">
                            <button type="submit" class="btn btn-primary btn-lg"
                                [disabled]="checkDisable()">Registrarse</button>
                        </div>
                        <div>
                            <p class="text-center text-muted mt-5 mb-0">¿Ya tienes una cuenta? <a routerLink="/login"
                                    class="fw-bold ">Inicia sesión</a></p>
                        </div>
                    </form>
                </div>
                <div class="col-3"></div>
            </div>
        </div>
    </div>
</section>