.main-container {
  height: 100vh;
  background-color: hsl(0, 0%, 87%);
}

.cards-container {
  background-color: white;
  border-radius: 1rem;
}

.content {
  padding: 1rem;
}

.cards-table {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  row-gap: 1rem;
  column-gap: 2rem;
  padding: 1rem;
  justify-content: center;
}

.card {
  height: 12rem;
  width: 23.2rem;
}

.card-footer {
  padding: 1rem 0 1rem 0;
  width: 100%;
  display: grid;
  justify-content: center;
}
