<div class="profile-card rounded shadow">
  <div class="profile-content text-center">
    <div class="profile-picture">
      <img src="{{ picture != '' ? picture : '/assets/def-profile.png' }}" />
    </div>
    <h5 class="my-3 name">
      {{ fullName != "" ? fullName : "Type full name here" }}
    </h5>
    <p class="text-muted">
      {{ affiliation != "" ? affiliation : "No Affiliation yet" }}
    </p>
    <div class="interests-container" *ngIf="interests.length > 0; else interestsPlaceHolder">
      <ng-container *ngFor="let item of interests">
        <a role="button" class="badge item" (click)="searchInterests(item.keyword)">{{ item.title }}</a>
      </ng-container>
    </div>
    <ng-template #interestsPlaceHolder>
      <p class="text-muted">Choose interests to list them here</p>
    </ng-template>
    <div class="edit-interests-row">
      <button type="button" class="btn btn-outline-primary" routerLink="/interests">
        Edit Interests
      </button>
    </div>
  </div>
</div>