<div class="profile-card rounded shadow">
  <div class="profile-content text-center">

    <div class="avatar-container">
      <div class="image-container" *ngIf="form.get('picture')?.value; else placeholder"
        [ngClass]="{'box-shadow-avatar': !!form.get('picture')?.value}"
        [ngStyle]="{backgroundImage: 'url(' + form.get('picture')?.value + ')'}"></div>

      <ng-template #placeholder>
        <div class="image-container avatar-placeholder"></div>
      </ng-template>

      <label for="avatar-input-file">
        <div class="icon-wrapper">
          <input type="file" id="avatar-input-file" accept="/image/*" (change)="onFileChange($event)">
          <i class="bi bi-pencil-fill icon"></i>
        </div>
      </label>
    </div>

    <h5 class="my-3 name">
      {{ form.get('fullName')?.value != "" ? form.get('fullName')?.value : "Type full name here" }}
    </h5>
    <p class="text-muted">
      {{ form.get('affiliation')?.value != "" ? form.get('affiliation')?.value : "No Affiliation yet" }}
    </p>
    <div class="interests-container" *ngIf="form.get('interests')?.value.length > 0; else interestsPlaceHolder">
      <ng-container *ngFor="let item of form.get('interests')?.value">
        <a role="button" class="badge item" (click)="searchInterests(item.keyword)">{{ item.title }}</a>
      </ng-container>
    </div>
    <ng-template #interestsPlaceHolder>
      <p class="text-muted">Choose interests to list them here</p>
    </ng-template>
    <div class="edit-interests-row">
      <button type="button" class="btn btn-outline-primary" routerLink="/interests">
        Edit Interests
      </button>
    </div>
  </div>
</div>