<div class="container mt-5">
    <div class="text-center mb-5">
        <h1>Encuentra tu cuenta</h1>
    </div>
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            <p class="text-secondary">Introduce tu correo electrónico o el nombre de usuario asociados a tu cuenta para
                cambiar tu contraseña</p>
            <input type="email" class="form-control" id="email" placeholder="Correo electrónico o nombre de usuario (example@mail.com)"
                formControlName="email">
            <div class="row mt-5">
                <button type="submit" class="btn btn-primary">Siguiente</button>
            </div>
        </div>
        <div class="col-3"></div>
    </div>
</div>